---
import "#/styles/global.css";
import Head from "#/components/head.astro";
import Footer from "#/components/ui/footer.astro";
import { cn } from "#/lib/ui";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<html lang="ja" class="bg-background text-foreground palt antialiased">
<head>
    <Head />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="flex flex-col w-full max-w-6xl min-h-screen min-w-full mx-auto">
<main class='flex-1 w-full max-w-2xl mx-auto'>
    <div class={cn('container pt-20 pb-12', className)}>
        <slot/>
    </div>
</main>
<Footer />
</body>
</html>
